* {
    margin: 0;
    padding: 0;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img{
    width: 33%;
    border: 30px solid white;
    border-radius: 50px;
  
}

.navbar{
    display: flex;
}

.nav-list {
    width: 50%;
    background-color: yellow;
}


.rightNav{
    background-color: violet;
    width: 50%;
}
